<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Download File</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8sh+WyVQZl5v7VSA+8EVtFbT1Kt9TIq0xhKj8u" crossorigin="anonymous">
</head>
<body>
    <div class="container mt-5">
        <h1>Download File</h1>
        <p>Conversion complete! Click the button below to download the converted file.</p>
        <a href="/download/{{ filename }}/{{ output_format }}" class="btn btn-success">Download</a>
    </div>
</body>
</html>